.container {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 10px 40px 50px;
}

.containerTime {
  display: flex;

  & > div:first-child {
    margin-right: 30px;
  }
}

.containerCenter {
  display: flex;
  justify-content: center;
}

.marginTop {
  margin-top: 30px;
}

.textareaStyle {
  font-family: Arial;
  font-size: 18px;
  color: #4d4848;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #dedede;
  transition: 0.3s;
  outline: none;
  border-radius: 6px;
  resize: none;
  width: 350px;
  height: 80px;

  &:focus {
    border-color: #ccc;
  }
}

.tableStyles {
  font-family: "Arial";
  border: 1px solid #ffffff;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
  color: #4d4848;

  & > thead {
    background: #0584c9;
    border-bottom: 5px solid #ffffff;
  }

  & > thead th {
    padding: 16px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    border-left: 2px solid #ffffff;
  }

  & > thead th:first-child {
    border-left: none;
  }

  & > tbody td {
    font-size: 18px;
    padding: 14px 0;
  }

  & > tbody > tr:nth-child(even) {
    background-color: #d0e4f5;
  }
}

.rowDate {
  background-color: #ffff00db !important;
  font-weight: 600;
}

.messageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.edit {
  transition: 0.5s;
  &:hover {
    cursor: pointer;
    color: green;
  }
}

.descriptionModal {
  color: #4d4848;
  font-weight: 600;
}

.finished {
  background-color: #ccffcc;
  color: #3f663f;
}

.not_finished {
  background-color: #ffcccc;
  color: #cc0000;
}

.in_progress {
  color: #cc0000;
}
