$selectedColor: #f1f1f1cd;
$borderColor: #CECECE;

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.selectContainer {
  font-size: 16px;
  cursor: pointer;
  min-width: 180px;
}

.optionsContainer {
  border: 1px solid $borderColor;
  border-radius: 4px;
  position: absolute;
  min-width: 180px;
  background-color: #FFF;
  top: 36px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.options {
  border-bottom: 1px solid $borderColor;
  padding: 6px;
  transition: 0.3s;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $selectedColor;
    cursor: pointer;
  }
}

.headerSelect {
  border: 1px solid $borderColor;
  padding: 6px;
  border-radius: 4px;
  min-width: 180px;
  font-size: 16px;
  cursor: pointer;
  color: #a5a5a5cd;
  font-weight: 600;

}

.arrowDown {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1b1b1b;
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

.slectedActive {
  background-color: $selectedColor;
}